.owl-carousel {
    .owl-stage {
        margin: 0 auto;
    }

    @media only screen and (min-width: $breakpoint-lg) {
        pointer-events: initial;
    }
}

.owl-item {
    min-width: 150px;

    &:last-child {
        margin-right: 0 !important;

        .order__icon {
            &:after {
                display: none;
            }
        }
    }

    @media only screen and (min-width: $breakpoint-lg) {
        min-width: 209px;
        max-width: 209px;
    }
}

.order {
    background: $dark;
    color: $white;

    position: relative;

    &__background {
        display: block;
        object-fit: cover;
        overflow: hidden;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: $z-index;

        width: auto;
        height: 100%;

        img {
            display: block;
            width: auto;
            height: 100%;
        }
    }

    &__container {
        padding-top: 60px;
        padding-bottom: 80px;

        position: relative;
        z-index: $z-index + 1;
    }

    &__title {
        color: $white;
        @extend %lato-font;
        font-size: 2rem;
        font-weight: 900;

        margin-bottom: 20px;

        text-align: center;
        text-transform: uppercase;

        span {
            color: $blue-light-0;
        }
    }

    &__text {
        color: $grey-light;
        @extend %lato-font;
        font-size: 1.2rem;
        line-height: 1.4rem;

        margin-bottom: 50px;
        text-align: center;
    }

    &__process {
        margin-bottom: 50px;
    }

    &__stage {
        padding: 0 10px;

        position: relative;
        max-width: 150px;

        p {
            @extend %lato-font;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.4rem;

            text-align: center;
        }
    }

    &__icon {
        background: $blue-light-0;
        border: 5px solid $blue-dark;
        border-radius: 50%;

        @extend %centered;
        @extend %transition-default;
        transition-property: border-color, color;

        margin-bottom: 20px;
        padding: 16px;
        position: relative;

        width: 70px;
        height: 70px;

        &:after {
            background: url('../../assets/icons/order__dots.svg') no-repeat center center / contain;
            content: '';
            display: block;

            position: absolute;
            top: 50%;
            right: -105px;

            transform: translateY(-50%);

            width: 90px;
            height: 4.91px;
        }

        &:hover {
            background: $blue-dark;
            border-color: $blue-light-0;

            svg path {
                // fill: $blue-dark;
            }
        }

        svg {
            display: block;

            width: 100%;
            height: auto;

            path {
                @extend %transition-default;
                transition-property: fill;
            }
        }
    }

    &__form {
        // 
    }

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__element {
        margin-bottom: 20px;

        position: relative;
        z-index: $z-index;

        max-width: 370px;
        width: 100%;

        label {
            color: $dark;
            cursor: pointer;

            @extend %lato-font;
            font-size: 1.2rem;
            font-weight: 400;

            padding: 12px 10px;
            position: absolute;

            width: 100%;
            height: 100%;

            &.hidden {
                opacity: 0;
            }
        }

        span {
            color: $white;

            @extend %lato-font;
            font-size: 1.2rem;
            font-weight: 400;
        }
    }

    &__file {
        label {
            background: $white;
            border: 2px solid $blue-light-0;
            border-radius: 3px;
            cursor: pointer;

            @extend %centered;

            @extend %transition-default;
            transition-property: background, border-color;

            position: relative;

            &.invalid {
                border-color: red;
            }

            &:hover {
                background: $dark;

                svg path {
                    fill: $white;
                }

                span {
                    color: $white;
                }
            }

            svg {
                display: block;

                width: auto;
                height: 16px;

                path {
                    @extend %transition-default;
                    transition-property: fill;
                }
            }

            span {
                color: $dark;
                @extend %lato-font;
                font-size: 1.2rem;
                font-weight: 700;

                @extend %transition-default;
                transition-property: color;

                margin-left: 10px;
                text-transform: uppercase;
            }
        }
    }

    &__select {
        position: relative;
        z-index: $z-index + 1;

        select {
            display: none;
        }
    }

    &__input {
        background: $white-transparent;
        border: 1px solid $white;
        border-radius: 3px;
        color: $dark;
        cursor: pointer;

        @extend %lato-font;
        font-size: 1.2rem;
        font-weight: 400;

        padding: 12px 10px;

        @extend %transition-default;
        transition-property: background, border-color, border-radius, color;

        width: 100%;

        &.invalid {
            border-color: red;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px #d9d9d9 inset !important;
            -webkit-text-fill-color: $dark !important;
        }

        &-range  {
            cursor: pointer;
            margin-top: 18px;
    
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
    
            &::-webkit-slider-runnable-track {
                background-color: rgba(255, 255, 255, 0.7);
                border: 1px solid $white;
                border-radius: 3px;
        
                height: 6px;
            }
            &::-webkit-slider-thumb {
                background: $blue-light-1;
                border: 3px solid $blue-dark;
                border-radius: 50%;
                cursor: pointer;
                
                margin-top: -11px;
        
                width: 25px;
                height: 25px;
                -webkit-appearance: none;
            }
    
            &::-moz-range-track {
                background-color: rgba(255, 255, 255, 0.7);
                border: 1px solid $white;
                border-radius: 3px;
        
                height: 6px;
            }
            &::-moz-range-thumb {
                background: $blue-light-1;
                border: 3px solid $blue-dark;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        &-file {
            display: none;
        }

        &-submit {
            background: $blue-light-0;
            border: 1px solid $white;
            border-radius: 4px;
            color: $white;
            cursor: pointer;

            @extend %lato-font;
            font-size: 1.2rem;
            font-weight: 700;

            @extend %transition-default;
            transition-property: background, color;

            text-transform: uppercase;

            margin-top: 20px;
            padding: 12px 10px;

            max-width: 370px;
            width: 100%;

            &:hover {
                background: $white;
                color: $blue-light-0;
            }
        }
    }

    &__select-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:after,
        &:before {
            content: '';
            display: block;

            @extend %transition-default;
            transition-property: opacity;

            position: absolute;
            right: 10px;

            width: 20px;
            height: 20px;
        }

        &:after {
            background: url('../../assets/icons/order__dropdown_closed.svg') no-repeat center center / contain;

            opacity: 1;
        }

        &:before {
            background: url('../../assets/icons/order__dropdown_opened.svg') no-repeat center center / contain;
            
            opacity: 0;
        }

        &.opened {
            background: $grey-transparent;
            border-color: transparent;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            color: $white;

            &:after {
                opacity: 0;
            }

            &:before {
                opacity: 1;
            }
        }
    }


    &__select-options {
        background: $dark;
        border: 1px solid $dark-light;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        @extend %lato-font;
        font-size: 1.2rem;
        font-weight: 400;

        overflow: hidden;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;

        @extend %transition-default;
        transition-property: max-height;

        max-height: 0;
        width: 100%;
        height: auto;

        &.opened {
            overflow: scroll;
            max-height: 140px;
            height: 140px;
        }

        div {
            cursor: pointer;
            color: $white;

            padding: 0 10px 12px 10px;

            @extend %transition-default;
            transition-property: color;

            &:first-child {
                padding-top: 12px;
            }

            &:hover {
                color: $blue-light-1;
            }

            &.selected {
                color: $blue-light-1;
            }
        }
    }

    @media only screen and (min-width: $breakpoint-md) {
        --items-per-row: 3;
        --items-margin: 20px;

        --item-width: calc((100% - var(--items-margin) * 2) / var(--items-per-row));
        --item-wide-width: calc(100% - var(--item-width) - var(--items-margin));

        &__row {
            flex-direction: row;
            justify-content: space-between;
        }

        &__element {
            max-width: var(--item-width);

            &_wide {
                max-width: var(--item-wide-width);
            }
        }

        &__file {
            label {
            }
        }

        &__input {
            &-submit {
                max-width: var(--item-width);
            }
        }
    }

    @media only screen and (min-width: $breakpoint-lg) {
        --items-per-row: 3;
        --items-margin: 30px;

        &__container {
            padding-top: 120px;
            padding-bottom: 150px;
        }

        &__title {
            font-size: 3.6rem;

            margin-bottom: 30px;
        }

        &__text {
            font-size: 1.8rem;
            line-height: 2.2rem;

            margin-bottom: 80px;
        }

        &__process {
            margin-bottom: 84px;
        }

        &__stage {
            padding: 0 8px;
            max-width: 209px;
    
            p {
                font-size: 1.6rem;
                line-height: 1.92rem;
            }
        }

        &__icon {
            padding: 18px;

            width: 100px;
            height: 100px;

            &:after {
                right: -130px;
    
                width: 110px;
                height: 6px;
            }
        }

        &__element {
            margin-bottom: 30px;

            label, span {
                font-size: 1.8rem;
            }
        }

        &__input {
            font-size: 1.8rem;

            &-submit {
                font-size: 1.5rem;

                margin-top: 27px;
            }
        }

        &__file {
            label {
                span {
                    font-size: 1.5rem;
                }

                svg {
                    height: 20px;
                }
            }
        }

        &__select-options {
            font-size: 1.8rem;

            &.opened {
                max-height: 180px;
            }
        }
    }
}