* {
    background: none;
    border: none;
    box-sizing: border-box;
    box-shadow: none;

    font-family: 'Lato', sans-serif;

    list-style: none;

    margin: 0;
    padding: 0;

    outline: none;
    text-decoration: none;
}

@import './vars/_vars';
@import './components/_header';
@import './components/_pop-up';
@import './components/footer';

@import './intro';
@import './order';

html, body {
    font-size: $font-size-default;
    scroll-behavior: smooth;
}

body {
    min-width: $breakpoint-xs;
    overflow-x: scroll;

    &.fixed {
        overflow: hidden;
    }
}